* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header .navbar > .container-fluid {
  flex-wrap: nowrap;
}
header .navbar > .container-fluid .navbar-brand .logo {
  width: 7%;
}
header .navbar > .container-fluid .navbar-brand .highlighted {
  color: #ffad01;
}
header .navbar > .container-fluid .navbar-collapse {
  width: 35%;
}

.footer {
  color: #000;
  background-color: #ffad01;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.footer .footer-right a {
  text-decoration: none;
  color: #000;
}
.footer .footer-right a:hover {
  color: rgba(0, 0, 0, 0.7);
}