main {
    .title {
        width: 70%;
        margin: 0 auto;
        h1 {
            color: $primary-color;
            font-size: $title;
            text-align: center;
        }
    }
    .card {
        height: 600px;
        .card-img-top {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
        }
        .card-title {
            a {
                color: $primary-color;
                font-weight: 700;
                text-decoration: none;
            }
            a:hover {
                color: $third-color;
            }
        }
    }
}
