header {
    .navbar > .container-fluid {
        flex-wrap: nowrap;
        .navbar-brand {
            .logo {
                width: 7%;
            }
            .highlighted {
                color: $primary-color;
            }
        }
        .navbar-collapse {
            width: 35%;
        }
        .nav-link.active {
            color: $primary-color;
        }
    }
}
